# KEYCLOAK URLS
KEYCLOAK_BASE_URL=
KEYCLOAK_SERVICE_SESSION_AUTH=
KEYCLOAK_SERVICE_SESSION_END=
KEYCLOAK_LOGIN_URL=${KEYCLOAK_BASE_URL}${KEYCLOAK_SERVICE_SESSION_AUTH}
KEYCLOAK_LOGOUT_URL=${KEYCLOAK_BASE_URL}${KEYCLOAK_SERVICE_SESSION_END}
# KEYCLOAK CLIENT ID
KEYCLOAK_CLIENT_ID=
# KEYCLOAK CLIENT SECRET
KEYCLOAK_CLIENT_SECRET=

# BASE URL FOR NEXT AUTH
NEXTAUTH_URL=
# NEXT AUTH SECRET 
# Randomn encrypted code used to encrypt the NextAuth.js JWT, and to hash email verification tokens
# This is the default value for the secret option in NextAuth and Middleware
# Command: openssl rand -base64 32
NEXTAUTH_SECRET=

