[run]
omit =
  *apps.py,
  */migrations/*,
  *settings*,
  */tests/*,
  *urls.py,
  manage.py,
  */__init__.py,
  */asgi.py,
  */wsgi.py,
  */schema/*,
  */api/e2e_test_setup.py,
  */api/e2e_integration_stub.py,
