# DJANGO API
API_URL=http://127.0.0.1:8000/api/


# MULTI ZONES
HOST_ADMINISTRATION="http://localhost:4001"
HOST_REGISTRATION="http://localhost:4000"
HOST_REPORTING="http://localhost:5000"
HOST_COMPLIANCE="http://localhost:7000"

# KEYCLOAK URLS
KEYCLOAK_AUTH_URL=
KEYCLOAK_REALMS=
KEYCLOAK_OIDC=
#http://auth-server/realms/{realm-name}
KEYCLOAK_LOGIN_URL=${KEYCLOAK_AUTH_URL}${KEYCLOAK_REALMS}
#http://auth-server/realms/{realm-name}/protocol/openid-connect/logout
KEYCLOAK_LOGOUT_URL=${KEYCLOAK_AUTH_URL}${KEYCLOAK_REALMS}${KEYCLOAK_OIDC}/logout
#http://auth-server/realms/{realm-name}/protocol/openid-connect/token
KEYCLOAK_TOKEN_URL=${KEYCLOAK_AUTH_URL}${KEYCLOAK_REALMS}${KEYCLOAK_OIDC}/token

# SITEMINDER URLS
SITEMINDER_AUTH_URL=https://logontest7.gov.bc.ca
SITEMINDER_LOGOUT_URL=${SITEMINDER_AUTH_URL}/clp-cgi/logoff.cgi

# BASE URL FOR NEXT AUTH
NEXTAUTH_URL=http://localhost:3000

# CLIENT ACCESS VARS
SITEMINDER_KEYCLOAK_LOGOUT_URL=${SITEMINDER_LOGOUT_URL}?retnow=1&returl=${KEYCLOAK_LOGOUT_URL}

# HAPPO
HAPPO_API_KEY=
HAPPO_API_SECRET=
