# .env.local is where secrets can be stored
# .env*.local should be added to .gitignore

# KEYCLOAK CLIENT ID
KEYCLOAK_CLIENT_ID=
# KEYCLOAK CLIENT SECRET
KEYCLOAK_CLIENT_SECRET=

# NEXT AUTH SECRET
# Randomn encrypted code used to encrypt the NextAuth.js JWT, and to hash email verification tokens
# This is the default value for the secret option in NextAuth and Middleware
# Can use Command: openssl rand -base64 32
NEXTAUTH_SECRET=

# BASEURL
E2E_BASEURL=http://localhost:3000/

# KEYCLOAK LOGINS
E2E_CAS_USER=your-IDIR-that-is-in-users-fixture-with-cas_admin
E2E_CAS_USER_PASSWORD=your-password
E2E_CAS_USER_GUID=your-IDIR-Keycloak-token-user_guid-without-hyphens

E2E_INDUSTRY_USER_ADMIN=bc-cas-dev
E2E_INDUSTRY_USER_ADMIN_PASSWORD=find-in-1password
E2E_INDUSTRY_USER_ADMIN_GUID=find-in-1password

E2E_INDUSTRY_USER=bc-cas-dev-secondary
E2E_INDUSTRY_USER_PASSWORD=find-in-1password
E2E_INDUSTRY_USER_GUID=find-in-1password

E2E_NEW_USER=bc-cas-dev-three
E2E_NEW_USER_PASSWORD=find-in-1password
E2E_NEW_USER_GUID=find-in-1password

# E2E STORAGE_STATE AUTH.js V5: Find in 1password `OBPS FE E2E STORAGESTATES AUTH v5`
E2E_CAS_ADMIN_STORAGE_STATE=
E2E_CAS_ANALYST_STORAGE_STATE=
E2E_CAS_DIRECTOR_STORAGE_STATE=
E2E_CAS_PENDING_STORAGE_STATE=
E2E_INDUSTRY_USER_ADMIN_STORAGE_STATE=
E2E_INDUSTRY_USER_STORAGE_STATE=
E2E_NEW_USER_STORAGE_STATE=
