apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: check-document-file-status-lock-pvc
  labels: {{- include "cas-bciers.labels" . | nindent 4 }}
    component: backend
  namespace: {{ .Release.Namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: netapp-block-standard
  resources:
    requests:
      storage: 10Mi
