apiVersion: batch/v1
kind: CronJob
metadata:
  name: check-document-file-status
  labels: {{- include "cas-bciers.labels" . | nindent 4 }}
    component: backend
  namespace: {{ .Release.Namespace }}
spec:
  suspend: false
  schedule: "*/5 * * * *"
  jobTemplate:
    spec:
      backoffLimit: 0
      activeDeadlineSeconds: 600
      template:
        metadata:
          labels: {{ include "cas-bciers.labels" . | nindent 12 }}
            component: backend
        spec:
          activeDeadlineSeconds: 600
          restartPolicy: Never
          serviceAccountName: deployer
          containers:
          - name: check-document-file-status
            image: "{{ .Values.backend.image.repository }}:{{ .Values.defaultImageTag | default .Values.backend.image.tag }}"
            imagePullPolicy: {{ .Values.backend.image.pullPolicy }}
            env:
              {{- include "cas-bciers.backendEnvVars" . | nindent 14 }}
              - name: GOOGLE_APPLICATION_CREDENTIALS
                value: "/attachment-credentials/attachment-credentials.json"
            command:
              - /usr/bin/env
              - bash
              - -c
              - |
                set -euo pipefail;
                flock -w 45 --verbose /data/locks/.check.lock \
                poetry run python manage.py check_document_file_status
            volumeMounts:
              - name: check-document-file-status-lock
                mountPath: /data/locks
              - mountPath: "/attachment-credentials"
                name: gcs-attachment-credentials
                readOnly: true
          volumes:
            - name: check-document-file-status-lock
              persistentVolumeClaim:
                claimName: check-document-file-status-lock-pvc
            - name: gcs-attachment-credentials
              secret:
                secretName: gcp-{{ .Release.Namespace }}-bciers-attach-service-account-key
                items:
                - key: credentials.json
                  path: attachment-credentials.json
