apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cas-registration.fullname" . }}-frontend
  labels:
    component: frontend
{{- include "cas-registration.labels" . | nindent 4 }}
spec:
{{- if not .Values.frontend.autoscaling.enabled }}
  replicas: {{ .Values.frontend.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "cas-registration.selectorLabels" . | nindent 6 }}
      component: frontend
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
{{- include "cas-registration.selectorLabels" . | nindent 8 }}
        component: frontend
    spec:
      containers:
        - name: {{ template "cas-registration.fullname" . }}-frontend
          env:
            - name: API_URL
              value: http://{{ include "cas-registration.fullname" . }}-backend.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.backend.service.port }}/api/
            - name: KEYCLOAK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: keycloak-gold-client-secret
                  key: kcClientSecret
            - name: KEYCLOAK_AUTH_URL
              value: {{ .Values.frontend.auth.keycloakAuthUrl}}
            - name: KEYCLOAK_REALMS
              value: {{ .Values.frontend.auth.keycloakRealms}}
            - name: KEYCLOAK_OIDC
              value: {{ .Values.frontend.auth.keycloakOidc}}
            - name: KEYCLOAK_LOGIN_URL
              value: {{ .Values.frontend.auth.keycloakAuthUrl}}{{ .Values.frontend.auth.keycloakRealms }}
            - name: KEYCLOAK_LOGOUT_URL
              value: {{ .Values.frontend.auth.keycloakAuthUrl}}{{ .Values.frontend.auth.keycloakRealms }}{{ .Values.frontend.auth.keycloakOidc}}/logout
            - name: KEYCLOAK_TOKEN_URL
              value: {{ .Values.frontend.auth.keycloakAuthUrl}}{{ .Values.frontend.auth.keycloakRealms }}{{ .Values.frontend.auth.keycloakOidc}}/token
            - name: NEXTAUTH_URL
              value: https://{{ .Values.frontend.route.host }}
            - name: SITEMINDER_AUTH_URL
              value: {{ .Values.frontend.auth.siteminderAuthUrl }}
            - name: SITEMINDER_LOGOUT_URL
              value: {{ .Values.frontend.auth.siteminderAuthUrl }}/clp-cgi/logoff.cgi
            - name: NEXT_PUBLIC_KEYCLOAK_LOGOUT_URL
              value: {{ .Values.frontend.auth.siteminderAuthUrl }}/clp-cgi/logoff.cgi?retnow=1&returl={{ .Values.frontend.auth.keycloakAuthUrl}}{{ .Values.frontend.auth.keycloakRealms }}{{ .Values.frontend.auth.keycloakOidc}}/logout
            - name: KEYCLOAK_CLIENT_ID
              value: {{ .Values.frontend.auth.keycloakClientId }}
            - name: SITEMINDER_KEYCLOAK_LOGOUT_URL
              value: {{ .Values.frontend.auth.siteminderAuthUrl }}/clp-cgi/logoff.cgi?retnow=1&returl={{ .Values.frontend.auth.keycloakAuthUrl}}{{ .Values.frontend.auth.keycloakRealms }}{{ .Values.frontend.auth.keycloakOidc}}/logout
            - name: NEXTAUTH_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ template "cas-registration.fullname" . }}-nextauth
                  key: nextauth-secret
          image: "{{ .Values.frontend.image.repository }}:{{ .Values.defaultImageTag | default .Values.frontend.image.tag }}"
          imagePullPolicy: {{ .Values.frontend.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.frontend.service.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.frontend.resources | nindent 12 }}
      restartPolicy: Always
