
backend:
  replicaCount: 1

  image:
    tag: "latest"

  route:
    host: cas-reg-backend-dev.apps.silver.devops.gov.bc.ca

  environment: develop

  deployRoute: true

frontend:
  replicaCount: 1

  image:
    tag: "latest"

  route:
    host: cas-reg-frontend-dev.apps.silver.devops.gov.bc.ca

  environment: develop

  auth:
    keycloakAuthUrl: https://dev.loginproxy.gov.bc.ca/auth
    siteminderAuthUrl: https://logontest7.gov.bc.ca
