/* includes the tailwind classes. */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS resets */

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

body,
html {
  position: relative;
  min-width: max-content;
  margin: auto;
  min-height: 100%;
}
