kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: {{ include "cas-bciers.fullname" . }}-backend-postgres-ingress
  labels: {{ include "cas-bciers.labels" . | nindent 4 }}
spec:
  podSelector:
    matchLabels:
      app.kubernetes.io/name: cas-obps-postgres
  ingress:
  - from:
    - podSelector:
        matchLabels:
          release: {{ include "cas-bciers.fullname" . }}
          component: backend
    - podSelector:
        matchLabels:
          app.kubernetes.io/name: {{ include "cas-bciers.fullname" . }}
          component: backend
    - podSelector:
        matchLabels:
          release: {{ include "cas-bciers.fullname" . }}
          component: backend-check-document-file-status
    - podSelector:
        matchLabels:
          app.kubernetes.io/name: {{ include "cas-bciers.fullname" . }}
          component: backend-check-document-file-status
