apiVersion: v2
name: cas-bciers
description: A Helm chart for the CAS BCIERS applications.
type: application
version: 0.1.0
appVersion: "0.0.1"

dependencies:
  - name: terraform-bucket-provision
    version: "0.1.4"
    repository: https://bcgov.github.io/cas-pipeline/
  - name: cas-airflow-dag-trigger
    version: 1.0.7
    repository: https://bcgov.github.io/cas-airflow
    alias: download-dags
    condition: download-dags.enabled
  - name: cas-logging-sidecar
    repository: https://bcgov.github.io/cas-pipeline/
    version: 0.2.0
