# Default values for cas-bciers.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

backend:
  replicaCount: 1

  image:
    repository: ghcr.io/bcgov/cas-reg-backend
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest"

  deployRoute: false

  environment: ~

  service:
    type: ClusterIP
    port: 8000

  route:
    host: ~

  resources:
    limits:
      memory: 256Mi
    requests:
      cpu: 60m
      memory: 128Mi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  database:
    releaseName: cas-obps-postgres
    appName: cas-obps-postgres

registrationFrontend:
  replicaCount: 1

  image:
    repository: ghcr.io/bcgov/cas-reg-frontend
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest"

  environment: ~

  service:
    type: ClusterIP
    port: 3000

  route:
    host: ~
    path: ~

  resources:
    limits:
      memory: 512Mi
    requests:
      cpu: 60m
      memory: 128Mi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

reportingFrontend:
  replicaCount: 1

  image:
    repository: ghcr.io/bcgov/cas-rep-frontend
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest"

  environment: ~

  service:
    type: ClusterIP
    port: 3000

  route:
    host: ~
    path: ~

  resources:
    limits:
      memory: 512Mi
    requests:
      cpu: 60m
      memory: 128Mi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

administrationFrontend:
  replicaCount: 1

  image:
    repository: ghcr.io/bcgov/cas-admin-frontend
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest"

  environment: ~

  service:
    type: ClusterIP
    port: 3000

  route:
    host: ~
    path: ~

  resources:
    limits:
      memory: 512Mi
    requests:
      cpu: 60m
      memory: 256Mi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

complianceFrontend:
  replicaCount: 1

  image:
    repository: ghcr.io/bcgov/cas-compliance-frontend
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest"

  environment: ~

  service:
    type: ClusterIP
    port: 3000

  route:
    host: ~
    path: ~

  resources:
    limits:
      memory: 512Mi
    requests:
      cpu: 60m
      memory: 256Mi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80

dashboardFrontend:
  replicaCount: 1

  image:
    repository: ghcr.io/bcgov/cas-dash-frontend
    pullPolicy: Always
    # Overrides the image tag whose default is the chart appVersion.
    tag: "latest"

  environment: ~

  service:
    type: ClusterIP
    port: 3000

  route:
    host: ~
    path: ~

  resources:
    limits:
      memory: 512Mi
    requests:
      cpu: 60m
      memory: 256Mi

  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 100
    targetCPUUtilizationPercentage: 80
    # targetMemoryUtilizationPercentage: 80

  auth:
    keycloakAuthUrl: ~
    siteminderAuthUrl: ~
    keycloakRealms: /realms/standard
    keycloakOidc: /protocol/openid-connect
    keycloakClientId: obps-4953

terraform-bucket-provision:
  terraform:
    namespace_apps: '["bciers-attach"]' # Maximum of 13 characters
    workspace: bciers # This value is OPTIONAL, only set if required

growthbook:
  clientKey: ~

download-dags:
  enabled: true
  airflowEndpoint: ~
  dagId: fetch_and_save_dag_from_github
  helm:
    hook: "pre-install,pre-upgrade"
