{{- $djangoSecret := (randAlphaNum 60) | b64enc | quote }}
{{- $secretName := print (include "cas-registration.fullname" .) "-backend" }}

{{- $existingDjangoSecret := (lookup "v1" "Secret" .Release.Namespace $secretName ) }}
{{- if $existingDjangoSecret }}
{{- $djangoSecret = index $existingDjangoSecret.data "django-secret-key" }}
{{- end -}}

apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-backend
  labels: {{ include "cas-registration.labels" . | nindent 4 }}
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
type: Opaque
data:
 django-secret-key: {{ $djangoSecret }}
