apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cas-bciers.fullname" . }}-reporting-frontend
  labels:
    component: reporting-frontend
    layer: frontend
{{- include "cas-bciers.labels" . | nindent 4 }}
spec:
{{- if not .Values.reportingFrontend.autoscaling.enabled }}
  replicas: {{ .Values.reportingFrontend.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "cas-bciers.selectorLabels" . | nindent 6 }}
      component: reporting-frontend
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
{{- include "cas-bciers.selectorLabels" . | nindent 8 }}
        component: reporting-frontend
        layer: frontend
    spec:
      serviceAccountName: {{ .Release.Name }}-pod-logger
      containers:
        - name: {{ template "cas-bciers.fullname" . }}-reporting-frontend
          envFrom:
            - configMapRef:
                name: {{ template "cas-bciers.fullname" . }}-frontend-env-configmap
          image: "{{ .Values.reportingFrontend.image.repository }}:{{ .Values.defaultImageTag | default .Values.reportingFrontend.image.tag }}"
          imagePullPolicy: {{ .Values.reportingFrontend.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.reportingFrontend.service.port }}
              protocol: TCP
          resources:
            {{- toYaml .Values.reportingFrontend.resources | nindent 12 }}
          {{- $containerName := printf "%s-reporting-frontend" (include "cas-bciers.fullname" .) }}
        {{- include "cas-logging-sidecar.containers" (dict
            "containerToSidecar" $containerName
            "logName" "cas-bciers-dev-logs"
        "host" .Values "cas-logging-sidecar" "host") | nindent 8 }}
      restartPolicy: Always
      volumes:
        {{- include "cas-logging-sidecar.volumes" . | nindent 8 }}
