name: Build Reporting Docker container

on:
  workflow_call:
    inputs:
      special_build_tag:
        description: "Extra tag to use for the image (e.g. nightly, latest)"
        required: false
        type: string
        default: latest

jobs:
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build reporting container
        uses: ./.github/actions/nx-app-build
        with:
          project: reporting
          image_url: ghcr.io/bcgov/cas-rep-frontend
          github_token: ${{ secrets.GITHUB_TOKEN }}
          special_build_tag: ${{ inputs.special_build_tag }}
