name: Check Nx affected projects

on:
  workflow_call:
    outputs:
      nx_affected_e2e:
        description: "Comma-separated list of Nx projects affected for e2e:ci target"
        value: ${{ jobs.check.outputs.nx_affected_e2e }}

jobs:
  check:
    runs-on: ubuntu-latest
    outputs:
      nx_affected_e2e: ${{ steps.check-nx-affected.outputs.NX_AFFECTED_E2E }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          sparse-checkout: |
            bciers/
            .github/
            .tool-versions
            bc_obps/.tool-versions
      - name: dev env setup
        uses: ./.github/actions/dev-env-setup-frontend
      - name: check nx affected target e2e:ci projects and save output
        id: check-nx-affected
        run: |
          NX_AFFECTED_E2E=$(yarn nx show projects --affected --with-target e2e:ci --base=origin/develop)
          echo "NX_AFFECTED_E2E="$NX_AFFECTED_E2E"" >> "$GITHUB_OUTPUT"
        working-directory: ./bciers
        shell: bash

