# This workflow is to run all tests that don't require containers to be built

name: Test BCIERS code

on:
  workflow_call:
    inputs:
      backend_has_changes:
        description: "Whether any files in bc_obps directory have changed"
        required: false
        type: string
        default: "true"
      frontend_has_changes:
        description: "Whether any files in bciers directory have changed"
        required: false
        type: string
        default: "true"

env:
  PGUSER: postgres
  DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}
  KEYCLOAK_CLIENT_ID: ${{ secrets.KEYCLOAK_CLIENT_ID }}
  KEYCLOAK_CLIENT_SECRET: ${{ secrets.KEYCLOAK_CLIENT_SECRET }}
  NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}

jobs:
  nx-tests:
    runs-on: ubuntu-latest
    if: inputs.frontend_has_changes == 'true'
    defaults:
      run:
        working-directory: ./bciers
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          sparse-checkout: |
            bciers/
            .github/
            .tool-versions
            bc_obps/.tool-versions
      - name: dev env setup
        uses: ./.github/actions/dev-env-setup-frontend
      - name: Run Nx Affected Tests with Remote Caching
        id: nx-tests
        run: |
          yarn nx affected --base=origin/develop --target=test --parallel
        shell: bash

  yarn-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: |
            bciers/
            .github/
            .tool-versions
            bc_obps/.tool-versions
      - name: dev env setup
        uses: ./.github/actions/dev-env-setup-frontend
      - run: yarn npm audit --exclude eslint
        working-directory: ./bciers

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: dev env setup frontend
        uses: ./.github/actions/dev-env-setup-frontend
      - name: dev env setup backend
        uses: ./.github/actions/dev-env-setup-backend
      - name: set pre-commit cache directory
        run: |
          echo "PRE_COMMIT_HOME=$GITHUB_WORKSPACE/.pre-commit-cache" >> $GITHUB_ENV
      - name: set PY
        run: echo "PY=$(python -VV | sha256sum | cut -d' ' -f1)" >> $GITHUB_ENV
      - name: create commitlint COMMIT_EDITMSG if not exists
        run: |
          if test -f ".git/COMMIT_EDITMSG"; then
              echo "COMMIT_EDITMSG EXISTS, skipping"
          else
              touch .git/COMMIT_EDITMSG
          fi
      - uses: actions/cache@v4
        with:
          path: |
            ./.pre-commit-cache
          key: pre-commit-${{ env.PY }}-${{ hashFiles('.pre-commit-config.yaml') }}-v4
      - run: pip install -r requirements.txt
      - uses: pre-commit/action@v3.0.1

  check-migrations:
    runs-on: ubuntu-latest
    if: inputs.backend_has_changes == 'true'
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: |
            bc_obps/
            .github/
            .tool-versions
      - name: dev env setup
        uses: ./.github/actions/dev-env-setup-backend
      - run: poetry run python manage.py makemigrations --check --dry-run
        working-directory: ./bc_obps

  check-immutable-migrations:
    runs-on: ubuntu-latest
    if: inputs.backend_has_changes == 'true'
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          sparse-checkout: |
            bc_obps/
            .bin/
            .github/
            .tool-versions
      - name: dev env setup
        uses: ./.github/actions/dev-env-setup-backend
      - name: Run check
        run: ./.bin/check-immutable-migration-files.sh

  check-test-data:
    runs-on: ubuntu-latest
    if: inputs.backend_has_changes == 'true'
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: |
            bc_obps/
            .github/
            .tool-versions
      - name: dev env setup
        uses: ./.github/actions/dev-env-setup-backend
      - name: Run Migrations
        run: make migrate
        working-directory: ./bc_obps
      - run: make load_test_data
        working-directory: ./bc_obps
