# This file is used for tests that use the backend container
# For tests that don't require containers to be built first, see test-code.yaml

name: Test BCIERS backend container

on:
  workflow_call:
    inputs:
      backend_has_changes:
        description: "Whether any files in bc_obps directory have changed"
        required: false
        type: string
        default: "true"

env:
  PGUSER: postgres
  DJANGO_SECRET_KEY: ${{ secrets.DJANGO_SECRET_KEY }}

jobs:
  pythontests:
    runs-on: ubuntu-latest
    if: inputs.backend_has_changes == 'true'
    steps:
      - uses: actions/checkout@v6
      - name: dev env setup
        uses: ./.github/actions/dev-env-setup
      - name: Run pytest
        working-directory: ./bc_obps
        run: make pythontests_parallel
